@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #0050FF;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}